*{
    margin: 0 auto;
}

body,
html{    
    font-family: Arial Black;
    background: #fff8dc;
}

body{
    font-family: sans-serif;
    text-align: left;
}

.article{
    max-width: 680px;
    padding: 24px;
}

.article__heading--verified {
    margin: 0 0 1.5rem 0;
    color: #d87093
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__figure {
    position: relative;
    height: auto;
    margin-bottom: 8px;
    max-width: 100%;
}

.figure__caption {
    margin-top: 8px;
    font-style: italic;
    text-align: center;
}